@font-face {
    font-family: 'CollegiateBlackFLF';
    src: url('CollegiateBlackFLF.woff2') format('woff2'),
        url('CollegiateBlackFLF.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

