 .popupOverlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0, 0, 0, 0.6);
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1000;
 }

 .popupContainer {
   background-color: #fff;
   /* width: 40%;
  height: 26%; */
   border-radius: 12px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
   padding: 2rem;
   display: flex;
   flex-direction: column;
   /* justify-content: space-between; */
   text-align: center;
   position: relative;
 }

 .popupHeaderrr h2 {
   margin: 0 0 1.5rem;
   font-size: 1.5rem;
 }

 .popupHeaderrr p {
   margin: 0;
   font-size: 1rem;
   color: #555;
 }

 .popupHeaderrr svg {
   position: absolute;
   top: 1rem;
   right: 1rem;
   cursor: pointer;
 }

 .popupButtons {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   margin-top: 1rem;
 }

 .popupButton {
   padding: 0.6rem 1.5rem;
   font-size: 1rem;
   border: none;
   border-radius: 8px;
   cursor: pointer;
 }

 .confirmButton {
   background-color: #d32f2f;
   color: white;
 }

 .cancelButton {
   background-color: #e0e0e0;
   color: #333;
 }

 .closeIconButton {
   background: transparent;
   border: none;
   position: absolute;
   top: 1rem;
   right: 1rem;
   cursor: pointer;
 }