.sidebar-wrapper {
  display: flex;
  position: relative;
}
.logo{
  width: 7.625rem;
height: 1.375rem;

}
.sidebar-label{
  font-size: 16px;
  font-weight: 500;
}

/* Toggle Button */
.sidebar-toggle-btn {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 1001;
  padding: 8px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1024px) {
  .sidebar-toggle-btn {
    display: block;
  }
}

/* Sidebar */
.sidebar {
  width: 100%;
  max-width: 270px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  /* padding-top: 20px; */
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

/* Collapsed on desktop */
.sidebar.collapsed {
  max-width: 70px;
}

/* Mobile behavior */
@media (max-width: 1024px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 1000;
  }

  .sidebar.show {
    transform: translateX(0);
  }

  .sidebar.collapsed {
    transform: translateX(-100%);
  }
}

/* Header */
.sidebar-header {
  text-align: center;
  padding: 29px 113px 20px 25px;

}


.sidebar-title {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin: 0;
}

/* Menu */
.sidebar-menu {
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  display: flex;
  align-items: center;
  margin: 4px 0;
  text-decoration: none;
  color: black;
  transition: background-color 0.2s;
  height: 60px;
    padding: 0px 25px;
}

.sidebar-link:hover {
  background-color: #6c5ce710;
}

.sidebar-link.active {
  background-color: #e9ecef;
  border-right: 3px solid #000000;
}

/* Icons always visible */
.sidebar-icon svg {
  font-size: 18px;
  margin-right: 8px;

    height: 23px;
      width: 26px;
  
}

.sidebar.collapsed .sidebar-icon {
  margin-right: 0;
  text-align: center;
  width: 100%;
}

/* Labels hidden only in collapsed mode */
.sidebar.collapsed .sidebar-label {
  display: none;
}
