.select-color-btn{
  margin-top: 20px;
  width: 100%;
}

.color-box-top span {
  cursor: pointer;
}

.react-colorful-wrapper {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  /* height: 200px; Add fixed height to avoid jitter */
  box-sizing: border-box;
}

.choose-color-box {
  position: absolute;
  top: 30%;       /* or wherever you want it */
  left: 60%;      /* example position */
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  width: 15rem;
  z-index: 7;
  height: auto;    /* optional: or use a fixed height if shaking persists */
  box-sizing: border-box;
}


.color-box-top {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  border-bottom: 2px solid red;
}
.middle-color-pick {
  margin: 8px 0;
  font-size: 14px;
  display: flex;
  gap: 12px
}