/* .size-section {
  margin-top: 20px;
} */

.size-group h5 {
  margin-bottom: 8px;
}

.size-group {
  margin-top: 5px;
}

.size-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.size-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25px;
}

.size-box input {
  width: 30px;
  /* padding: 5px; */
  text-align: center;
  height: 20px;
  outline: none;
  border: 1px solid #D2D5D9;
  border-radius: 4px;
}

.license-options {
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.calculate-btn {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.size-box label {
  font-size: 8px;
}

.license-options label {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  display: flex;
  gap: 3px;
  align-items: center;
}
.license-options label input {
    width: 16px;
    height: 16px;
}
.toolbar-main-container.quantity-toolbar {
  background: transparent;
}

.main-top-container {
  background-color: #F6F6F6;
  padding: 15px;
}

.quantity-toolbar .toolbar-box-top-content {
  background-color: #F6F6F6;
  padding: 0;
  width: 100%;
  border-radius: 5px;
}

.size-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.size-box label {
  font-size: 8px;
  font-weight: 500;
  margin-bottom: 5px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.quantity-toolbar .toolbar-box {
  padding: 20px;
  height: max-content;
}
.quantity-toolbar .toolbar-span {
    height: 25px;
    width: 65px;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid #D2D5D9;
    padding-left: 14px;
    margin-top: 12%;
}
.quantity-toolbar .toolbar-span::after {
    content: "";
    position: absolute;
    background-color: #CD2022;
    height: 10px;
    width: 10px;
    bottom: 8px;
    border-radius: 100%;
    left: 10px;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    border: 1px solid #E3E7EB;
}
.quantity-toolbar .toolbar-main-heading{
    width: max-content;
}