/* .size-section {
  margin-top: 20px;
} */

.sizeGroup h5 {
  margin-bottom: 8px;
}

.sizeGroup {
  margin-top: 5px;
}

.sizeInputs {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.sizeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25px;
}

.sizeBox input {
  width: 30px;
  /* padding: 5px; */
  text-align: center;
  height: 20px;
  outline: none;
  border: 1px solid #D2D5D9;
  border-radius: 4px;
}

.licenseOptions {
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.calculateBtn {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.sizeBox label {
  font-size: 8px;
}

.licenseOptions label {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  display: flex;
  gap: 3px;
  align-items: center;
}

.licenseOptions label input {
  width: 16px;
  height: 16px;
}





.quantity-toolbar .toolbar-box-top-content {
  background-color: #F6F6F6;
  padding: 0;
  width: 100%;
  border-radius: 5px;
}

.sizeSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.size-box label {
  font-size: 8px;
  font-weight: 500;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}