.collectionSidebar {
  padding: 1rem;
  height: 100%;
  overflow-y: auto;
}

.collectionUl {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.collectionLi {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

.collectionCard {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.collectionCard:hover {
  border-bottom: 1px solid black;
}

.subcategoryUl {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.subcategoryLi {
  padding: 8px 10px;
  cursor: pointer;
}

.subcategoryLi:hover {
  background-color: #f0f0f0;
}

.active {
  /* background-color: #f0f0f0; */
  /* border-left: 4px solid #000; */
  font-weight: bold;
  color: var(--blue-color);
}

.filterImage {
  width: 5.5rem;
  height: 5.5rem;
  object-fit: cover;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}


.collectionSidebar {
  padding: 1rem;
  height: 100%;
  overflow-y: auto;
}

.collectionUl {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
  margin: 0;
}

.collectionLi {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

.collectionCard {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.collectionCard:hover {
  border-bottom: 1px solid black;
}

.expandIcon {
  font-size: 1.2rem;
  font-weight: bold;
  min-width: 20px;
  text-align: center;
}

.subcategoryUl {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.subcategoryLi {
  padding: 8px 10px;
  cursor: pointer;
}

.subcategoryLi:hover {
  background-color: #f0f0f0;
}

.active {
  /* background-color: #f0f0f0; */
  /* border-left: 4px solid #000; */
  font-weight: bold;
  color: var(--blue-color);
}

.filterImage {
  width: 5.5rem;
  height: 5.5rem;
  object-fit: cover;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}