.footerContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  background-color: transparent;
  padding: 13px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  margin: 0px 1px 3px;
  gap: 5px;
  align-items: end;
}

.footerBtn {
  background: transparent;
  width: max-content;
  color: black;
  border: 1px solid rgb(34, 32, 32);
  border-radius: 100px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  font-weight: 500;
  padding: 3px 8px;
  cursor: pointer;
  /* transition: background-color 0.3s ease, transform 0.2s ease; */
  padding: 3.5px 26px;
  transition: .3s ease;
}

.saveButton {
  color: white;
  background-color: var(--blue-color);
  border: none;
  /* REMOVE the black border */
  border-radius: 100px;
  font-size: 14px;
  display: inline-flex;
  /* clean up duplicate display lines */
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-weight: 500;
  padding: 7.5px 26px;
  cursor: pointer;
  transition: .3s ease;
}

.saveButton:hover {
  transform: scale(1.05);

}

.footerBtn:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

.footerBtn1 {
  height: 42px;
  background: #fff;
  width: 127px;
  color: black;
  border: 1px solid rgb(34, 32, 32);
  justify-content: center;
  border-radius: 8px;
  font-size: 13.34px;
  display: inline-flex;
  gap: 7px;
  align-items: center;
  padding: 11px 26px;
  cursor: pointer;
  /* transition: background-color 0.3s ease, transform 0.2s ease; */
}

.footerBtn svg {
  width: 20px;
  height: 20px;
}

.footerBtn1 svg {
  width: 18px;
  height: 19.88px;
}

.footerBtnContainer {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 1200px) {
  .footerBtn {
    padding: 3.5px 10px !important;
  }
}

@media screen and (max-width: 500px) {
  .footerBtn {
    padding: 1.5px 4px !important;
  }

  .footerContainer {
    margin: -8px -10px;
    gap: 6px;
  }
}

.fab-container {
  z-index: 1000 !important;
}