/* .footer-container{
  width: 85%;
  background-color: rgb(65, 45, 45);
}

.footer-content{
  width: 85%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: rgb(190, 124, 124);

}
.btn-footer{
  display: flex;
  gap: 2rem;
}
.btn {
  height: 2.4rem;
  color: black;
  padding: 12px 20px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 15px;
  display: inline-flex
;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.btn svg {
  font-size: 20px; 
}
/* --------- */
/* .app-footer{
  display: flex
;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
} */
.footer-container {
  position: fixed;
  bottom: 0;
  width: 80%;
  background-color: #fff;
  padding: 1rem 2rem;
  /* padding inside the footer */
  display: flex;
  justify-content: space-between;

  border-radius: 10px;
  margin: 0 20px;

}


.footer-btn {
  height: 2.2rem;
  background: #fff;
  width: 8rem;
  color: black;
  border: 1px solid rgb(34, 32, 32);
  justify-content: center;
  border-radius: 5px;
  font-size: 15px;
  display: inline-flex;
  gap: .7rem;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.footer-btn-container {
  display: flex;
  gap: 1.2rem;
}