.closeBtn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #f9fafc;
    background: #cccfd6;
    border: none;
    font-size: 26px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.closeBtn svg {
    color: #f9fafc;
    height: 12px;
    width: 12px;
}

.closeBtn:hover {
    background: var(--blue-color);
}

.closeBtn:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}


@media (max-width: 768px) {
    .closeBtn {
        width: 25px;
        height: 25px;
        font-size: 20px;
    }
}