.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.box {
  /* border: 2px solid #000; */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  /* color: #7f7f7f; */
  font-size: 25px;
  /* font-size: clamp(0.2rem, 1.9vw, 0.75rem); */
  /* 12px */
  font-weight: 600;
  line-height: 1.5;
  background-color: #fff;
}

.box p {
  margin: 5px 0;
}
.roww{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}