.toolbar-box {
    gap: 12px;
    display: flex;
    flex-direction: column;

}

.toolbar-box textarea {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    width: 100%;
    /* margin-bottom: 15px; */
    /* height: 100px; */
    resize: none;
    /* border: none; */
    outline: none;
    font-size: 16px;
    color: #555;
    border-radius: 4px;
    padding: 6px 6px 80px;
    overflow-y: hidden;
}

<<<<<<< Updated upstream
.toolbar-box textarea::placeholder{
    font-weight: 500;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;    
}
.AddTextToolbar-main-container{
=======
.AddTextToolbar-main-container {
>>>>>>> Stashed changes
    position: relative;
}

.addText-first-toolbar-box-container {
    display: flex;
    justify-content: space-around;
    /* gap: 10px; */
}

.toolbar-box-icons-and-heading-for-together {
    display: flex;
}

.toolbar-box-icons-and-heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 600;
    line-height: 17px;
}

.toolbar-box-icons-container {

    padding: 3px 8px;
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cccfd6;
    border-radius: 4px;
    cursor: pointer;
}

.toolbar-box-icons-container-layering1 {

    padding: 3px 8px;
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #cccfd6;
    border-bottom: 1px solid #cccfd6;
    border-left: 1px solid #cccfd6;
    border-right: 1px solid #cccfd6;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;

}

.toolbar-box-icons-container-layering2 {

    padding: 3px 8px;
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #cccfd6;
    border-bottom: 1px solid #cccfd6;
    border-right: 1px solid #cccfd6;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;


}

.toolbar-box-icons-container-flip1 {

    padding: 3px 8px;
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cccfd6;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
}

.toolbar-box-icons-container-clickStyle-flip1 span {

    padding: 6px 8px;
    margin-bottom: 4px;
    display: flex;
    color: white;
    background-color: black;
    justify-content: center;
    align-items: center;
    border: 1px solid #cccfd6;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
}

.toolbar-box-icons-container-clickStyle-flip2 span {

    padding: 6px 8px;
    margin-bottom: 4px;
    display: flex;
    color: white;
    background-color: black;
    justify-content: center;
    align-items: center;
    border: 1px solid #cccfd6;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

.toolbar-box-icons-container.active {
    color: white;
    background-color: black;
}

.toolbar-box-icons-container-flip2 {

    padding: 3px 8px;
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #cccfd6;
    border-bottom: 1px solid #cccfd6;
    border-left: 1px solid #cccfd6;
    border-right: 1px solid #cccfd6;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;

}


/* secondtoolBartoolStyle */
.toolbar-box-icons-container-for-together {
    display: flex;
}

.toolbar-box-Font-Value-set-inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toolbar-box-Font-Value-set-inner-actionlogo {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}

.toolbar-box-Font-Value-set-inner-actionlogo span {
    /* margin-left: 11px; */
    /* padding:5px; */
    display: inline-block;
    text-align: center;

}



.toolbar-box-Font-Value-set-inner-actionheading {
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    /* position: relative; */
    display: flex;
    align-items: center;
    gap: 7px;
}

.none-svg-icon {
    width: 15px;
    align-items: center;
    height: 18px;
    justify-content: center;
    border: 2px solid #D2D5D9;
    display: flex;
    /* background-color: black; */
}

.addText-inner-main-containerr {
    gap: 12px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.addText-inner-main-containerr::-webkit-scrollbar {
    /* color: red; */
    background-color: #888;
    color: #fff;
    width: 5px;
    height: 3px;
}

.colorrrrr {
    position: absolute;
    top: 0;
    left: 0;
}

.colorr2 {
    position: absolute;
    top: 0;
    left: 0;
}