.toolbarBox {
  gap: 12px;
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--white-color);
  padding: 10px;
  max-height: 556px;
  border-radius: 10px;
}

.toolbarBoxTextarea {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100px;
  /* Set a fixed height */
  resize: none;
  outline: none;
  font-size: 16px;
  color: #555;
  border-radius: 4px;
  padding: 6px;
  overflow-y: auto;
  /* Show vertical scrollbar when needed */
}

.AddTextToolbarMainContainer {
  position: relative;
}

.addTextFirstToolbarBoxContainer {
  display: flex;
  justify-content: space-around;
  /* use flex-start to allow natural overflow */
  gap: 10px;

  white-space: nowrap;
  /* prevent child items from wrapping */

  /* padding: 10px; */
  /* optional: spacing inside the container */
}

.toolbarBoxIconsAndHeadingForTogether {
  display: flex;
}

.toolbarBoxIconsAndHeadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-size: 10px;
  font-weight: 600; */
  font-size: 0.68rem;
  font-weight: 600;
  line-height: 17px;
}

.toolbarBoxIconsContainer {
  padding: 3px 8px;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccfd6;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.toolbarBoxIconsContainer:hover {
  transform: scale(1.06);
  background-color: #a9a6a6;
  color: #fff;
}

.toolbarBoxIconsContainerLayering1 {
  padding: 3px 8px;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #cccfd6;
  border-bottom: 1px solid #cccfd6;
  border-left: 1px solid #cccfd6;
  border-right: 1px solid #cccfd6;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
}

.toolbarBoxIconsContainerLayering1Active {
  padding: 3px 8px;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #cccfd6;
  border-bottom: 1px solid #cccfd6;
  border-left: 1px solid #cccfd6;
  border-right: 1px solid #cccfd6;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
  background-color: black;
  color: white;
}

.toolbarBoxIconsContainerLayering2 {
  padding: 3px 8px;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #cccfd6;
  border-bottom: 1px solid #cccfd6;
  border-right: 1px solid #cccfd6;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

.toolbarBoxIconsContainerLayering2Active {
  padding: 3px 8px;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #cccfd6;
  border-bottom: 1px solid #cccfd6;
  border-right: 1px solid #cccfd6;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  background-color: black;
  color: white;
}

.toolbarBoxIconsContainerFlip1 {
  padding: 3px 8px;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccfd6;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
}

.toolbarBoxIconsContainerClickStyleFlip1 {
  padding: 3px 8px;
  margin-bottom: 4px;
  display: flex;
  color: white;
  background-color: black;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccfd6;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
}

.toolbarBoxIconsContainerClickStyleFlip2 {
  padding: 3px 8px;
  margin-bottom: 4px;
  display: flex;
  color: white;
  background-color: black;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccfd6;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

.toolbarBoxIconsContainerActive {
  color: white;
  background-color: black;
}

.toolbarBoxIconsContainerFlip2 {
  padding: 3px 8px;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #cccfd6;
  border-bottom: 1px solid #cccfd6;
  border-left: 1px solid #cccfd6;
  border-right: 1px solid #cccfd6;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

/* secondtoolBartoolStyle */
.toolbarBoxIconsContainerForTogether {
  display: flex;
}

.toolbarBoxFontValueSetInnerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toolbarBoxFontValueSetInnerActionLogo {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.toolbarBoxFontValueSetInnerActionLogo span {
  /* margin-left: 11px; */
  /* padding:5px; */
  display: inline-block;
  text-align: center;
}

.spanValueBoxInput {
  /* padding: 0px 5px; */
  border: 1px solid #cccfd6;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  color: #555;
  width: 50px;
  text-align: center;
}

.toolbarBoxFontValueSetInnerActionHeading {
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  /* position: relative; */
  display: flex;
  align-items: center;
  gap: 7px;
}

.noneSvgIcon {
  width: 15px;
  align-items: center;
  height: 18px;
  justify-content: center;
  border: 2px solid var(--borderColor);
  display: flex;
  /* background-color: black; */
}

.addTextInnerMainContainerr {
  color: #000;
  gap: 12px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.lockedToolbar {
  opacity: 0.4;
  pointer-events: none;
  /* Prevent interaction */
  user-select: none;
  /* Prevent text selection */
}

.addTextInnerMainContainerr::-webkit-scrollbar {
  /* color: red; */
  background-color: #888;
  color: #fff;
  width: 5px;
  height: 3px;
}

.colorrrrr {
  position: absolute;
  top: 0;
  left: 0;
}

.colorr2 {
  position: absolute;
  top: 0;
  left: 0;
}

.center-btn:active {
  color: white;
  background-color: black;
}

.duplicateBtn:active {
  color: white;
  background-color: black;
}



.toolbarIcon {
  background-color: transparent;
  color: black;
  padding: 3px 8px;
  border-radius: 4px;
  border: 1px solid var(--borderColor);
  cursor: pointer;
  margin-bottom: 5px;
  transition: all 0.2s ease;
}

.toolbarIcon span svg {
  width: 16px;
  height: 15px;
}

.toolbarIconActive span svg {
  width: 16px;
  height: 15px;
}

.toolbarIcon:hover {
  transform: scale(1.06);
  background-color: #a9a6a6;
  color: #fff;
}

.toolbarIconActive {
  background-color: black;
  color: white;
  padding: 3px 8px;
  border-radius: 4px;
  border: 1px solid var(--borderColor);
  cursor: pointer;
  margin-bottom: 5px;
}

.toolbarBoxIconsContainerFlip1:hover,
.toolbarBoxIconsContainerFlip2:hover {
  transform: scale(1.06);

  background-color: #a9a6a6;
  color: #fff;
}

/* .toolbarBoxHeadingContainer {
  font-size: 0.75rem;
  font-weight: 600;
} */

@media screen and (max-width: 1200px) {
  .addTextFirstToolbarBoxContainer {
    overflow-x: auto !important;
    /* 'auto' avoids unnecessary scrollbars */
    white-space: nowrap;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    /* for iOS smooth scrolling */
  }

  /* .toolbarBox {
    overflow: scroll;
    height: 100vh; 
  }
.addTextInnerMainContainerr {
  color: #000;
  gap: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
   */
}

/* ----hide incremenet decrement of input type number */