* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  position: relative;
  font-family: "Inter", sans-serif;

}
:root {
  --red:#ED2224;
  ;
}

/* Font
Inter
Weight
700
Size
20px
Line height
31.43px
Letter spacing
0.35p */
h2{
  font-size: 20px;
  font-weight: 700;
  

}
p{
  font-size: 12px;
  font-weight: 400;
}

a {
  list-style: none;
  text-decoration: none;
}
h4{
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;

}
.main-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar-container {
  width: 260px;
}

.main-layout-container {
  width: calc(100% - 270px);

  background-color: #f1f1f1;


}

.flex {
  display:
    flex;
}

.page-content {
  display: flex;
}

.layout-toolbar {
  width: 30%;
  /* background-color: aquamarine; */
  height: 80vh;
  padding: 24px;

}

.layout-product {
  width: 60%;
  /* background-color: bisque; */

}

.layout-container {
  width: 100%;
}

.black-button {
  background-color: #000000;
  color: white;
  border: none;
  height: 27px;
  width: 119px;
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  align-items: center;
  padding: 6px 10px;
}

/* common css of toolbar head */
/* .toolbar-main-heading h3 {
  font-size: 1rem;
  font-weight: 700;

} */
.toolbar-main-heading .Toolbar-badge {
  background-color: red;
  font-size: 12px;
  color: white;
  width: fit-content;
  width: 78px;
  height: 21px;
  border-radius: 4px;
  /* padding: 2px 8px; */
  display: flex
;
  justify-content: center;
  align-items: center;
  text-transform: upperca
 

}
/* .toolbar-main-heading p {
  font-size: small;
} */
.toolbar-main-heading{
  line-height: 31px;
}

.cursor {
  cursor: pointer;
}