.appHeader {
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue-light);
  height: 85px;
  padding: 0 20px;
  /* max-width: 90%; */
  padding-right: 30px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  width: 100%;
  z-index: 9999;
}


.navSpanNumber {
  font-size: 16px;
  background-color: #888;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  color: #fff;
  margin-right: 5px;
}

.loginName {
  color: var(--blue-color);
}

.navSpanNumberActive {
  color: var(--blue-color);
}

a.step:first-child:after {
  content: "";
  width: 292px;
  height: 1px;
  background: #d9d9d9;
  top: 31%;
  position: absolute;
  transform: translateY(-50%);
  left: 80%;
  max-width: 290px;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 45px;
}

/* .logo {
  height: 30px;
} */
.logo {
  width: 100%;
  height: 100%;
  max-width: 140px;
  max-height: 40px;
}

.navSteps {
  display: flex;
  gap: 78px;
  font-weight: 400;
  /* text-transform: uppercase; */
  font-size: 16px;
  color: #888;
}

.navSteps a {
  color: #888;
}

.step {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3px;
}


.deasable {
  pointer-events: none;
  opacity: 0.5;
  /* cursor: default; */
}


.stepActive {
  color: var(--blue-color) !important;
  /* border-bottom: 2px solid red; */
  padding-bottom: 2px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3px;
  pointer-events: all;
  opacity: 1;
}

.stepActive .navSpanNumber::after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  /* Adjust width to span appropriately under the text */
  height: 4px;
  background-color: var(--blue-color);
  box-shadow: 0 2px 8px 0 var(--blue-color);
  border-radius: 1px;
  z-index: 10;
}

.stepActive .navSpanNumber {
  background-color: var(--blue-color);
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 22px;
  font-size: 16px;
  color: #424447;
  padding-right: 40px;
}

.headerBtn {
  background: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  /* color: #333; */
  display: flex;
  gap: 5px;
  align-items: center;
}

.headerBtn p {
  font-size: 16px;
}

.headerBtn svg {
  width: 32px;
  height: 32px;
}



@media screen and (max-width: 750px) {
  .rightSection {

    padding-right: 0;
  }

  .navSteps {
    display: none;
  }

  .rightSection p {
    display: none;
  }

  .navSpanHeading {
    display: none;
  }

  a.step:first-child:after {
    display: none;
  }

  .headerBtn {
    margin-bottom: 0 !important;
  }

  /* .logo {

    max-height: 30px;
  } */

}

@media (max-width: 1200px) {
  .navSteps {
    font-size: 12px;
  }

  a.step:first-child:after {
    width: 251px !important;
    left: 84.8%;
  }

  .headerBtn {
    margin-bottom: 16px;
  }
}

/*ogin modal  */

/* Container for the user icon and modal to enable relative positioning */
.userIconContainer {
  position: relative;
  /* Essential for modal positioning */
}

/* Modal styling */
.userModal {
  position: absolute;
  top: 100%;
  /* Position below the button */
  right: -60px;
  /* Align to the right of the button */
  width: 250px;
  /* Adjust as needed */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  /* Ensure it is above other elements */
  margin-top: 10px;
  /* Small gap between button and modal */
  padding: 8px;
  display: flex;
  flex-direction: column;
}

/* Style for the user email section */
.userModalHeader {
  display: flex;
  align-items: center;
  padding: 8px 8px;
  border-bottom: 1px solid #eee;
  /* margin-bottom: 8px; */
  word-break: break-word;
  /* Prevents long emails from overflowing */
}

.userModalUserInfo {
  display: flex;
  flex-direction: column;
}

.userModalName {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 4px;
}

.loginNameContainer {
  display: flex;
  align-items: center;
}

.loginNameContainer svg {
  height: 20px;
  width: 22px;
}

.userModalIcon {
  font-size: 25px;
  color: #333;
  margin-right: 8px;
}

.userModalEmail {
  font-size: 14px;
  font-weight: 600;
  color: #888;
}

/* Style for the Logout button */
.userModalButton {
  background: none;
  border: none;
  padding: 8px 10px;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  color: #c0392b;
  /* A color for logout, like red */
  border-radius: 4px;
  transition: background-color 0.2s;
}

.userModalButton:hover {
  background-color: #fcebeb;
  /* Light red background on hover */
}

.userModalButtonIcon {
  margin-right: 8px;
}