.appHeader {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 80px;
  padding: 0 20px;
  /* max-width: 90%; */
  padding-right: 30px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  width: 100%;
  z-index: 9999;
}

.navSpanNumber {
  background-color: #888;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  color: #fff;
  margin-right: 5px;
}

.navSpanNumberActive {
  color: #005bff;
}

a.step:first-child:after {
  content: "";
  width: 298px;
  height: 1px;
  background: #d9d9d9;
  top: 31%;
  position: absolute;
  transform: translateY(-50%);
  left: 78.8%;
  max-width: 298px;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 45px;
}

/* .logo {
  height: 30px;
} */
.logo {
  width: 100%;
  height: 100%;
  max-width: 140px;
  max-height: 40px;
}

.navSteps {
  display: flex;
  gap: 78px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  color: #888;
}

.navSteps a {
  color: #888;
}

.step {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3px;
}



.stepActive {
  color: #005bff !important;
  /* border-bottom: 2px solid red; */
  padding-bottom: 2px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3px;
}

.stepActive .navSpanNumber {
  background-color: #005bff;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 22px;
  font-size: 16px;
  color: #424447;
}

.headerBtn {
  background: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  /* color: #333; */
  display: flex;
  gap: 5px;
  align-items: center;
}

.headerBtn svg {
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 750px) {
  .navSteps {
    display: none;
  }

  .rightSection p {
    display: none;
  }

  .navSpanHeading {
    display: none;
  }
}