.replacebginput {
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    box-shadow: 0 0 4px #007BFF;
    font-family: "Helvetica", "Roboto-Regular", sans-serif;

    /* font-family: 'H'; */
    /* Blue glow like your image */
    color: #333;
}

.generateBgbtn {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 16px;
    background-color: var(--blue-color);
    /* Bright orange */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s ease;
}

.generateBgbtn:hover {
    box-shadow: var(--blue-color) 0px 2px 8px 0px;

}

.removeBgbtn {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    font-size: 16px;
    background-color: transparent;
    /* Bright orange */
    color: var(--blue-color);
    border: 2px solid var(--blue-color);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s;
}

.removeBgbtn:hover {
    box-shadow: var(--blue-color) 0px 2px 8px 0px;

}

.rightarrow {
    color: var(--blue-color);
}

.crossIcon {
    position: absolute;
    right: 0;
    cursor: pointer;

}

/* ==== */
.container {
    position: relative;
    height: 100%;
    padding-bottom: 20px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.loaderOverlay {
    position: absolute;
    /* top: 0; */
    left: 0;
    right: 0;
    bottom: 20%;
    /* background: rgba(0, 0, 0, 0.3); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.useImageButton {
    background: var(--blue-color);
    color: white;
    border: none;
    padding: 8px 12px;
    margin-top: 8px;

    margin-bottom: 8px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
    display: block;
    text-align: center;
    /* margin: auto 5px; */
    width: 100%;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-left-color: var(--black-color);
    animation: spin 1s ease infinite;
    margin-bottom: 10px;
}

.BtnWrapper {
    display: flex;
    gap: 10px;
    padding-bottom: 50px;
    /* margin-bottom: 30px; */

}

.resultContainer img {
    max-width: '100%';
    height: 22rem;
    margin-top: '10px';
    cursor: 'pointer'

}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1024px) {
    .resultContainer {
        display: flex;
        flex-direction: column;
    }

    .resultContainer img {
        height: 22rem;
    }
}