.addArtToolbarSearchBox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  /* flex: 1; */
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.addArtToolbarSearchBox svg {
  height: 14px;
  cursor: pointer;
}

.addArtToolbarSearchBox input {
  width: 90%;
  border: none;
  outline: none;
}
.promptGuidePara{
  color: var(--blue-color);
  margin: 10px;
  cursor: pointer;
  font-size: 0.8rem;
}
.promptGuidePara:hover{
  text-decoration: underline;
}


.addArtToolbarBoxContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 11px;
  /* margin-bottom: 20px; */
}

.artButton {
  display: flex;
  height: 2rem;
  /* width: 4.7rem; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid #ddd;
  border-radius: 100px;
  cursor: pointer;
  gap: 2px;
  transition: all 0.5s ease;

}

.artButton:hover{
  background: #eadede;
}
.artButton svg {
  /* font-size: 4px; */
  height: 15px;
}

.artButton span {
  font-size: 14px;
}

.uploadButton {
  width: 100%;
  padding: 6px;
  background: black;
  color: white;
  border-radius: 100px;
  font-weight: bold;
  font-size: .7rem;
  margin-top: 10px;
}

.aiRelative {
  position: relative;
}

.aiSpannn {
  position: absolute;
  top: 30px;
  left: 100px;
  background-color: var(--blue-color);
  color: #fff;
  font-size: 10px;
  height: .8rem;
  width: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

/* -------------- */
/* SearchBar.css */

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  /* Adjust padding as needed */
  background-color: var(--white-color);

}

.searchWrapper {
  position: relative;
  /* For positioning the search icon */
  width: 100%;

}

.searchInput {
  width: 100%;
  padding: 12px 45px 12px 20px;
  /* Adjust padding for text and icon */
  border: 1px solid #ccc;
  border-radius: 25px;
  /* Rounded corners */
  font-size: 12px;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Subtle shadow */
  transition: all 0.3s ease;
  outline: none;
  /* Remove default focus outline */
}

.searchInput::placeholder {
  color: #888;
  font-style: italic;
}

.searchInput:focus {
  border-color: #007bff;
  /* Highlight on focus */
  box-shadow: 0 2px 8px rgba(0, 123, 255, 0.2);
}

.searchIcon svg {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  /* cursor: pointer; */
  font-size: 20px;
  /* If you're using an SVG or an icon font, adjust accordingly */
  /* For a simple magnifying glass, you could use an SVG or a unicode character if not using an icon library */
}

/* Example of how you might include a simple SVG for the icon */
/* .search-icon svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
} */
.crossIcon {
  position: absolute;
  right: 0;
  cursor: pointer;
  top: 0;

}