/* UploadArtToolbar.css */

.upload-container {
  width: 100%;
  max-width: 500px;
  margin: 40px auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.drop-zone {
  border: 2px dashed #ccc;
  border-radius: 12px;
  padding: 40px 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.25s ease, border-color 0.25s ease;
  background-color: #F7F7F7;
}

.drop-zone:hover {
  background-color: #f0f8ff;
  border-color: #1e90ff;
}

.drop-zone p {
  margin: 0;
  font-size: 16px;
  color: #555;
}

.file-list {
  /* margin-top: 20px; */
  background-color: #fdfdfd;
  padding: 6px;
  border-radius: 8px;
  /* border: 1px solid #eee; */
  /* display: flex;
  gap:10px */
}

.file-list h4 {
  /* margin-bottom: 10px; */
  font-size: 12px;
  color: black;
}

.file-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /* display: flex;
  flex-wrap: wrap;
  gap:10px */
}

.file-list li {
  border: 1px solid #eee; 
  padding: 4px;
  font-size: 12px;
  width: 100%;
  color: #444;
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
}

.file-list li:last-child {
  border-bottom: none;
}

.upload-file-btn {
  height: 33px;
  background: black;
  width: 126px;
  color: #fff;
  border: 1px solid rgb(34, 32, 32);
  justify-content: center;
  border-radius: 8px;
  font-size: 11px;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  padding: 6px 10px;
  cursor: pointer;
  /* transition: background-color 0.3s ease, transform 0.2s ease; */
}
.upload-btn-flex-container{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 1rem 0;
}
.upload-option-btn{
  cursor: pointer;
  font-size: 12px;
  justify-content: center;
  gap:10px;
  align-items: center;
  border: 1px solid #8D9095;
  display: flex;
  height: 2.5rem;
  /* background-color: aquamarine; */
  width: 9rem;
  border-radius: 5px;
}
.upload-option-btn img{
  height: 15px;
}

.upload-para{
  font-size: 12px;
  color:  #8A9099;
  ;
}
/* -- */
.file-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  background: #fff;
  border-radius: 6px;
  padding: 4px 8px;
  border: 1px solid #ddd;
}

.remove-icon {
  cursor: pointer;
  position: absolute;
  top: -4px;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  border: 1px solid #8D9095;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  right: 0;
  color: black;
  background: #fff;
  font-size: 7px;
  margin-left: 6px;
  transition: transform 0.2s ease;
}

.remove-icon:hover {
  transform: scale(1.2);
}
